// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Layout
// -------------------------------------------------------------

.primary,
.secondary,
.tertiary,
.page,
.header,
.main,
.footer {
  float: left;
  max-width: 100%;
  width: 100%;
}

.header {
  padding: 32px;
}

.main {
  // min-height: calc(100vh - 96px);
  padding: 32px;
}

.footer {
  padding: 32px;
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
}
