/* -------------------------------------------------------------
Variables: Colors

Tools: https://uicolors.app/create
       https://www.colorhexa.com/
       https://fffuel.co/cccolor/

------------------------------------------------------------- */

/* Transparent
------------------------------------------------------------- */

$transparent: rgba(255, 255, 255, 0) !default;

/* White
------------------------------------------------------------- */

$white: rgba(255, 255, 255, 1) !default;
$black: rgba(0, 0, 0, 1) !default;

/* Shadow (black-900)
------------------------------------------------------------- */

$shadow: rgba(16, 24, 32, .1) !default;

/* Gray
------------------------------------------------------------- */

$gray-000: #f9fafa;
$gray-050: #f5f6f6;
$gray-100: #e5e7e8;
$gray-200: #ced1d3;
$gray-300: #acb1b4;
$gray-400: #838a8d;
$gray-500: #686f72;
$gray-600: #595e61;
$gray-700: #4c5052;
$gray-800: #424548;
$gray-900: #3a3c3f;
$gray-950: #171819;

/* Blue
------------------------------------------------------------- */

$blue-000: #f6f8ff;
$blue-050: #f0f3fe;
$blue-100: #dde4fc;
$blue-200: #c3d1fa;
$blue-300: #99b4f7;
$blue-400: #698df1;
$blue-500: #4263eb;
$blue-600: #3047e0;
$blue-700: #2835cd;
$blue-800: #262ca7;
$blue-900: #242b84;
$blue-950: #1a1d51;

/* Red
------------------------------------------------------------- */

$red-000: #fff8f7;
$red-050: #fff2f1;
$red-100: #ffe1e0;
$red-200: #ffc9c7;
$red-300: #ffa4a0;
$red-400: #ff6f69;
$red-500: #f9423a;
$red-600: #e7241b;
$red-700: #c21a13;
$red-800: #a01a14;
$red-900: #851c17;
$red-950: #480a07;

/* Yellow
------------------------------------------------------------- */

$yellow-000: #fffef3;
$yellow-050: #fffcea;
$yellow-100: #fff5c5;
$yellow-200: #ffec85;
$yellow-300: #ffdb46;
$yellow-400: #ffc81b;
$yellow-500: #f59f00;
$yellow-600: #e27d00;
$yellow-700: #bb5602;
$yellow-800: #984208;
$yellow-900: #7c360b;
$yellow-950: #481a00;

/* Green
------------------------------------------------------------- */

$green-000: #f8fdf8;
$green-050: #f2fbf3;
$green-100: #e0f8e3;
$green-200: #c3efca;
$green-300: #93e2a1;
$green-400: #5dcb70;
$green-500: #37b24d;
$green-600: #28913b;
$green-700: #227331;
$green-800: #205b2b;
$green-900: #1c4b26;
$green-950: #0a2911;

/* Brand Colors
------------------------------------------------------------- */

$brand-color-primary: $gray-950;
$brand-color-secondary: $gray-050;

/* Text Colors
------------------------------------------------------------- */

$text-gray-primary: $gray-950;
$text-gray-secondary: $gray-700;
$text-gray-tertiary: $gray-500;

/* Classes
------------------------------------------------------------- */

/* Black
------------------------------------------------------------- */

.gray-000-bg { background-color: $gray-000 !important; }
.gray-050-bg { background-color: $gray-050 !important; }
.gray-100-bg { background-color: $gray-100 !important; }
.gray-200-bg { background-color: $gray-200 !important; }
.gray-300-bg { background-color: $gray-300 !important; }
.gray-400-bg { background-color: $gray-400 !important; }
.gray-500-bg { background-color: $gray-500 !important; }
.gray-600-bg { background-color: $gray-600 !important; }
.gray-700-bg { background-color: $gray-700 !important; }
.gray-800-bg { background-color: $gray-800 !important; }
.gray-900-bg { background-color: $gray-900 !important; }
.gray-950-bg { background-color: $gray-950 !important; }

.gray-000-cl { color: $gray-000 !important; }
.gray-050-cl { color: $gray-050 !important; }
.gray-100-cl { color: $gray-100 !important; }
.gray-200-cl { color: $gray-200 !important; }
.gray-300-cl { color: $gray-300 !important; }
.gray-400-cl { color: $gray-400 !important; }
.gray-500-cl { color: $gray-500 !important; }
.gray-600-cl { color: $gray-600 !important; }
.gray-700-cl { color: $gray-700 !important; }
.gray-800-cl { color: $gray-800 !important; }
.gray-900-cl { color: $gray-900 !important; }
.gray-950-cl { color: $gray-950 !important; }

/* Blue
------------------------------------------------------------- */

.blue-000-bg { background-color: $blue-000 !important; }
.blue-050-bg { background-color: $blue-050 !important; }
.blue-100-bg { background-color: $blue-100 !important; }
.blue-200-bg { background-color: $blue-200 !important; }
.blue-300-bg { background-color: $blue-300 !important; }
.blue-400-bg { background-color: $blue-400 !important; }
.blue-500-bg { background-color: $blue-500 !important; }
.blue-600-bg { background-color: $blue-600 !important; }
.blue-700-bg { background-color: $blue-700 !important; }
.blue-800-bg { background-color: $blue-800 !important; }
.blue-900-bg { background-color: $blue-900 !important; }
.blue-950-bg { background-color: $blue-950 !important; }

.blue-000-cl { color: $blue-000 !important; }
.blue-050-cl { color: $blue-050 !important; }
.blue-100-cl { color: $blue-100 !important; }
.blue-200-cl { color: $blue-200 !important; }
.blue-300-cl { color: $blue-300 !important; }
.blue-400-cl { color: $blue-400 !important; }
.blue-500-cl { color: $blue-500 !important; }
.blue-600-cl { color: $blue-600 !important; }
.blue-700-cl { color: $blue-700 !important; }
.blue-800-cl { color: $blue-800 !important; }
.blue-900-cl { color: $blue-900 !important; }
.blue-950-cl { color: $blue-950 !important; }

/* Red
------------------------------------------------------------- */

.red-000-bg { background-color: $red-000 !important; }
.red-050-bg { background-color: $red-050 !important; }
.red-100-bg { background-color: $red-100 !important; }
.red-200-bg { background-color: $red-200 !important; }
.red-300-bg { background-color: $red-300 !important; }
.red-400-bg { background-color: $red-400 !important; }
.red-500-bg { background-color: $red-500 !important; }
.red-600-bg { background-color: $red-600 !important; }
.red-700-bg { background-color: $red-700 !important; }
.red-800-bg { background-color: $red-800 !important; }
.red-900-bg { background-color: $red-900 !important; }
.red-950-bg { background-color: $red-950 !important; }

.red-000-cl { color: $red-000 !important; }
.red-050-cl { color: $red-050 !important; }
.red-100-cl { color: $red-100 !important; }
.red-200-cl { color: $red-200 !important; }
.red-300-cl { color: $red-300 !important; }
.red-400-cl { color: $red-400 !important; }
.red-500-cl { color: $red-500 !important; }
.red-600-cl { color: $red-600 !important; }
.red-700-cl { color: $red-700 !important; }
.red-800-cl { color: $red-800 !important; }
.red-900-cl { color: $red-900 !important; }
.red-950-cl { color: $red-950 !important; }

/* Yellow
------------------------------------------------------------- */

.yellow-000-bg { background-color: $yellow-000 !important; }
.yellow-050-bg { background-color: $yellow-050 !important; }
.yellow-100-bg { background-color: $yellow-100 !important; }
.yellow-200-bg { background-color: $yellow-200 !important; }
.yellow-300-bg { background-color: $yellow-300 !important; }
.yellow-400-bg { background-color: $yellow-400 !important; }
.yellow-500-bg { background-color: $yellow-500 !important; }
.yellow-600-bg { background-color: $yellow-600 !important; }
.yellow-700-bg { background-color: $yellow-700 !important; }
.yellow-800-bg { background-color: $yellow-800 !important; }
.yellow-900-bg { background-color: $yellow-900 !important; }
.yellow-950-bg { background-color: $yellow-950 !important; }

.yellow-000-cl { color: $yellow-000 !important; }
.yellow-050-cl { color: $yellow-050 !important; }
.yellow-100-cl { color: $yellow-100 !important; }
.yellow-200-cl { color: $yellow-200 !important; }
.yellow-300-cl { color: $yellow-300 !important; }
.yellow-400-cl { color: $yellow-400 !important; }
.yellow-500-cl { color: $yellow-500 !important; }
.yellow-600-cl { color: $yellow-600 !important; }
.yellow-700-cl { color: $yellow-700 !important; }
.yellow-800-cl { color: $yellow-800 !important; }
.yellow-900-cl { color: $yellow-900 !important; }
.yellow-950-cl { color: $yellow-950 !important; }

/* Green
------------------------------------------------------------- */

.green-000-bg { background-color: $green-000 !important; }
.green-050-bg { background-color: $green-050 !important; }
.green-100-bg { background-color: $green-100 !important; }
.green-200-bg { background-color: $green-200 !important; }
.green-300-bg { background-color: $green-300 !important; }
.green-400-bg { background-color: $green-400 !important; }
.green-500-bg { background-color: $green-500 !important; }
.green-600-bg { background-color: $green-600 !important; }
.green-700-bg { background-color: $green-700 !important; }
.green-800-bg { background-color: $green-800 !important; }
.green-900-bg { background-color: $green-900 !important; }
.green-950-bg { background-color: $green-950 !important; }

.green-000-cl { color: $green-000 !important; }
.green-050-cl { color: $green-050 !important; }
.green-100-cl { color: $green-100 !important; }
.green-200-cl { color: $green-200 !important; }
.green-300-cl { color: $green-300 !important; }
.green-400-cl { color: $green-400 !important; }
.green-500-cl { color: $green-500 !important; }
.green-600-cl { color: $green-600 !important; }
.green-700-cl { color: $green-700 !important; }
.green-800-cl { color: $green-800 !important; }
.green-900-cl { color: $green-900 !important; }
.green-950-cl { color: $green-950 !important; }
