/* -------------------------------------------------------------
Variables: Colors

Tools: https://uicolors.app/create
       https://www.colorhexa.com/
       https://fffuel.co/cccolor/

------------------------------------------------------------- */

/* Transparent
------------------------------------------------------------- */

$transparent: rgba(255, 255, 255, 0) !default;

/* White
------------------------------------------------------------- */

$white: rgba(255, 255, 255, 1) !default;
$black: rgba(0, 0, 0, 1) !default;

/* Shadow (black-900)
------------------------------------------------------------- */

$shadow: rgba(38, 38, 38, .1) !default;

/* Gray
------------------------------------------------------------- */

$gray-000: #FCFCFC;
$gray-050: #F6F6F6;
$gray-100: #E7E7E7;
$gray-200: #D1D1D1;
$gray-300: #B0B0B0;
$gray-400: #8C8C8C;
$gray-500: #6D6D6D;
$gray-600: #5D5D5D;
$gray-700: #4F4F4F;
$gray-800: #454545;
$gray-900: #3D3D3D;
$gray-950: #262626;

/* Green
------------------------------------------------------------- */

$green-000: #F9FFFC;
$green-050: #EDFFF5;
$green-100: #D5FFE9;
$green-200: #AEFFD4;
$green-300: #6FFFB5;
$green-400: #1AFF85;
$green-500: #00E96C;
$green-600: #00C256;
$green-700: #009847;
$green-800: #04773C;
$green-900: #066133;
$green-950: #00371A;

/* Blue
------------------------------------------------------------- */

$blue-000: #FAFDFF;
$blue-050: #EDF9FF;
$blue-100: #D7F0FF;
$blue-200: #B9E7FF;
$blue-300: #88DAFF;
$blue-400: #50C3FF;
$blue-500: #28A5FF;
$blue-600: #1A8CFF;
$blue-700: #0A6FEB;
$blue-800: #0F58BE;
$blue-900: #134D95;
$blue-950: #112F5A;

/* Red
------------------------------------------------------------- */

$red-000: #FEFAFB;
$red-050: #FFF0F2;
$red-100: #FFDDE3;
$red-200: #FFC0CA;
$red-300: #FF94A6;
$red-400: #FF5773;
$red-500: #FF2348;
$red-600: #FF1A40;
$red-700: #D70024;
$red-800: #B10320;
$red-900: #920A21;
$red-950: #50000D;

/* Yellow
------------------------------------------------------------- */

$yellow-000: #FFFEF9;
$yellow-050: #FFFBEB;
$yellow-100: #FFF5C6;
$yellow-200: #FFE988;
$yellow-300: #FFD74A;
$yellow-400: #FFC21A;
$yellow-500: #F9A207;
$yellow-600: #DD7A02;
$yellow-700: #B75506;
$yellow-800: #94410C;
$yellow-900: #7A350D;
$yellow-950: #461B02;

/* Brand Colors
------------------------------------------------------------- */

$brand-color-primary: $green-600;
$brand-color-secondary: $green-000;

/* Text Colors
------------------------------------------------------------- */

$text-gray-primary: $gray-950;
$text-gray-secondary: $gray-700;
$text-gray-tertiary: $gray-500;

/* Classes
------------------------------------------------------------- */

/* Gray
------------------------------------------------------------- */

.gray-000-bg { background-color: $gray-000 !important; }
.gray-050-bg { background-color: $gray-050 !important; }
.gray-100-bg { background-color: $gray-100 !important; }
.gray-200-bg { background-color: $gray-200 !important; }
.gray-300-bg { background-color: $gray-300 !important; }
.gray-400-bg { background-color: $gray-400 !important; }
.gray-500-bg { background-color: $gray-500 !important; }
.gray-600-bg { background-color: $gray-600 !important; }
.gray-700-bg { background-color: $gray-700 !important; }
.gray-800-bg { background-color: $gray-800 !important; }
.gray-900-bg { background-color: $gray-900 !important; }
.gray-950-bg { background-color: $gray-950 !important; }

.gray-000-cl { color: $gray-000 !important; }
.gray-050-cl { color: $gray-050 !important; }
.gray-100-cl { color: $gray-100 !important; }
.gray-200-cl { color: $gray-200 !important; }
.gray-300-cl { color: $gray-300 !important; }
.gray-400-cl { color: $gray-400 !important; }
.gray-500-cl { color: $gray-500 !important; }
.gray-600-cl { color: $gray-600 !important; }
.gray-700-cl { color: $gray-700 !important; }
.gray-800-cl { color: $gray-800 !important; }
.gray-900-cl { color: $gray-900 !important; }
.gray-950-cl { color: $gray-950 !important; }

/* Green
------------------------------------------------------------- */

.green-000-bg { background-color: $green-000 !important; }
.green-050-bg { background-color: $green-050 !important; }
.green-100-bg { background-color: $green-100 !important; }
.green-200-bg { background-color: $green-200 !important; }
.green-300-bg { background-color: $green-300 !important; }
.green-400-bg { background-color: $green-400 !important; }
.green-500-bg { background-color: $green-500 !important; }
.green-600-bg { background-color: $green-600 !important; }
.green-700-bg { background-color: $green-700 !important; }
.green-800-bg { background-color: $green-800 !important; }
.green-900-bg { background-color: $green-900 !important; }
.green-950-bg { background-color: $green-950 !important; }

.green-000-cl { color: $green-000 !important; }
.green-050-cl { color: $green-050 !important; }
.green-100-cl { color: $green-100 !important; }
.green-200-cl { color: $green-200 !important; }
.green-300-cl { color: $green-300 !important; }
.green-400-cl { color: $green-400 !important; }
.green-500-cl { color: $green-500 !important; }
.green-600-cl { color: $green-600 !important; }
.green-700-cl { color: $green-700 !important; }
.green-800-cl { color: $green-800 !important; }
.green-900-cl { color: $green-900 !important; }
.green-950-cl { color: $green-950 !important; }

/* Blue
------------------------------------------------------------- */

.blue-000-bg { background-color: $blue-000 !important; }
.blue-050-bg { background-color: $blue-050 !important; }
.blue-100-bg { background-color: $blue-100 !important; }
.blue-200-bg { background-color: $blue-200 !important; }
.blue-300-bg { background-color: $blue-300 !important; }
.blue-400-bg { background-color: $blue-400 !important; }
.blue-500-bg { background-color: $blue-500 !important; }
.blue-600-bg { background-color: $blue-600 !important; }
.blue-700-bg { background-color: $blue-700 !important; }
.blue-800-bg { background-color: $blue-800 !important; }
.blue-900-bg { background-color: $blue-900 !important; }
.blue-950-bg { background-color: $blue-950 !important; }

.blue-000-cl { color: $blue-000 !important; }
.blue-050-cl { color: $blue-050 !important; }
.blue-100-cl { color: $blue-100 !important; }
.blue-200-cl { color: $blue-200 !important; }
.blue-300-cl { color: $blue-300 !important; }
.blue-400-cl { color: $blue-400 !important; }
.blue-500-cl { color: $blue-500 !important; }
.blue-600-cl { color: $blue-600 !important; }
.blue-700-cl { color: $blue-700 !important; }
.blue-800-cl { color: $blue-800 !important; }
.blue-900-cl { color: $blue-900 !important; }
.blue-950-cl { color: $blue-950 !important; }

/* Red
------------------------------------------------------------- */

.red-000-bg { background-color: $red-000 !important; }
.red-050-bg { background-color: $red-050 !important; }
.red-100-bg { background-color: $red-100 !important; }
.red-200-bg { background-color: $red-200 !important; }
.red-300-bg { background-color: $red-300 !important; }
.red-400-bg { background-color: $red-400 !important; }
.red-500-bg { background-color: $red-500 !important; }
.red-600-bg { background-color: $red-600 !important; }
.red-700-bg { background-color: $red-700 !important; }
.red-800-bg { background-color: $red-800 !important; }
.red-900-bg { background-color: $red-900 !important; }
.red-950-bg { background-color: $red-950 !important; }

.red-000-cl { color: $red-000 !important; }
.red-050-cl { color: $red-050 !important; }
.red-100-cl { color: $red-100 !important; }
.red-200-cl { color: $red-200 !important; }
.red-300-cl { color: $red-300 !important; }
.red-400-cl { color: $red-400 !important; }
.red-500-cl { color: $red-500 !important; }
.red-600-cl { color: $red-600 !important; }
.red-700-cl { color: $red-700 !important; }
.red-800-cl { color: $red-800 !important; }
.red-900-cl { color: $red-900 !important; }
.red-950-cl { color: $red-950 !important; }

/* Yellow
------------------------------------------------------------- */

.yellow-000-bg { background-color: $yellow-000 !important; }
.yellow-050-bg { background-color: $yellow-050 !important; }
.yellow-100-bg { background-color: $yellow-100 !important; }
.yellow-200-bg { background-color: $yellow-200 !important; }
.yellow-300-bg { background-color: $yellow-300 !important; }
.yellow-400-bg { background-color: $yellow-400 !important; }
.yellow-500-bg { background-color: $yellow-500 !important; }
.yellow-600-bg { background-color: $yellow-600 !important; }
.yellow-700-bg { background-color: $yellow-700 !important; }
.yellow-800-bg { background-color: $yellow-800 !important; }
.yellow-900-bg { background-color: $yellow-900 !important; }
.yellow-950-bg { background-color: $yellow-950 !important; }

.yellow-000-cl { color: $yellow-000 !important; }
.yellow-050-cl { color: $yellow-050 !important; }
.yellow-100-cl { color: $yellow-100 !important; }
.yellow-200-cl { color: $yellow-200 !important; }
.yellow-300-cl { color: $yellow-300 !important; }
.yellow-400-cl { color: $yellow-400 !important; }
.yellow-500-cl { color: $yellow-500 !important; }
.yellow-600-cl { color: $yellow-600 !important; }
.yellow-700-cl { color: $yellow-700 !important; }
.yellow-800-cl { color: $yellow-800 !important; }
.yellow-900-cl { color: $yellow-900 !important; }
.yellow-950-cl { color: $yellow-950 !important; }
