// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Brand
// -------------------------------------------------------------

$class: "brand";

.#{$class} {
  float: left;
  width: auto;
  .#{$class}-box {
    float: left;
    width: 100%;
    .#{$class}-item {
      float: left;
      height: 64px;
      width: auto;
      .#{$class}-link {
        @include link-default;
        line-height: 64px;
        padding: 16px 0;
        height: 32px;
      }
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
        width: 140px;
      }
    }
  }
}
