// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Copyright
// -------------------------------------------------------------

$class: "copyright";

.#{$class} {
  float: left;
  width: 100%;
  .#{$class}-box {
    float: left;
    padding: 4px 0 16px;
    width: auto;
    .#{$class}-item {
      float: left;
      padding: 0 0 16px;
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
}
