// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Form
// -------------------------------------------------------------

$class: "form";

.#{$class} {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgb(38 38 38 / .075);
  float: right;
  margin: 64px 0 32px;
  padding: 32px;
  width: 100%;
  .#{$class}-box {
    border: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    .#{$class}-header {
      float: left;
      padding: 8px 8px 24px;
      width: 100%;
    }
    .#{$class}-body {
      float: left;
      width: 100%;
    }
    .#{$class}-footer {
      float: left;
      padding: 8px 0 0;
      width: 100%;
    }
    .#{$class}-row {
      float: left;
      width: 100%;
    }
    .#{$class}-item {
      float: left;
      width: 100%;
      &.#{$class}-item-half {
        width: 50%;
      }
    }
    .#{$class}-field {
      float: left;
      padding: 0 16px 16px;
      width: 100%;
    }
  }
  .#{$class}-input,
  .#{$class}-select {
    float: left;
    width: 100%;
  }
  .#{$class}-input {
    input[type="email"],
    input[type="text"] {
      @include font-size-s;
      border: 1px solid $gray-200;
      border-radius: 4px;
      color: $gray-600;
      padding: 11px 15px;
      outline: 2px solid $gray-200;
      &:focus {
        border: 1px solid $blue-600;
        outline: 2px solid $blue-600;
      }
    }
  }
  .#{$class}-select {
    select {
      @include font-size-s;
      background-image: url("../../svgs/icons/select-down.svg");
      background-position: right;
      background-repeat: no-repeat;
      border: 1px solid $gray-200;
      border-radius: 4px;
      color: $gray-600;
      padding: 11px 15px;
      outline: 2px solid $gray-200;
      &:focus {
        border: 1px solid $blue-600;
        outline: 2px solid $blue-600;
      }
    }
  }
  .#{$class}-checkbox {
    @include hover-animation(.25s);
    @include font-size-xxs;
    color: $gray-600;
    cursor: pointer;
    float: left;
    line-height: 24px;
    margin: 8px 0 0;
    padding: 0;
    position: relative;
    width: 100%;
    span.label {
      @include hover-animation(.25s);
      margin: 0 0 0 8px;
      &:hover {
        color: $gray-950;
      }
    }
    span.checkmark {
      background-color: $gray-100;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 3px;
      cursor: pointer;
      float: left;
      margin: 4px 0;
      width: 16px;
      height: 16px;
    }
    /* Checkbox checked state */
    span.checkmark {
      // background-color: $gray-700;
      background-image: url("../../svgs/icons/unchecked.svg");
      background-size: 20px 20px;
    }
    input[type="checkbox"]:checked + span.checkmark {
      // background-color: $gray-100;
      background-image: url("../../svgs/icons/checked.svg");
      background-size: 20px 20px;
    }
  }
  .#{$class}-error {
    @include font-size-xxs;
    color: $red-500;
    float: left;
    margin: 4px 0 0;
    padding: 0;
    width: 100%;
  }
  .#{$class}-legend {
    @include font-size-m;
    color: $text-gray-primary;
    float: left;
    font-weight: 600;
    padding: 0 16px 16px;
    width: 100%;
  }
  .#{$class}-label {
    @include font-size-xxs;
    color: $text-gray-primary;
    float: left;
    font-weight: 600;
    letter-spacing: .015em;
    padding: 4px 16px;
    // text-transform: uppercase;
    width: 100%;
    &.required::after {
      content: " *";
      vertical-align: top;
    }
  }
  .#{$class}-submit {
    float: left;
    padding: 16px 16px;
    width: 100%;
    button[type="submit"] {
      @include font-size-xs;
      @include hover-animation(.25s);
      background-color: $green-600;
      color: $green-200;
      // box-shadow: 0 2px 4px rgb(16 24 32 / .25);
      border-radius: 4px;
      cursor: pointer;
      float: left;
      font-weight: 600;
      letter-spacing: .05em;
      line-height: 24px;
      padding: 16px;
      text-align: center;
      text-decoration: none;
      // text-transform: uppercase;
      word-break: break-word;
      width: 100%;
      &:link,
      &:visited {
        background-color: $green-600;
        color: $green-200;
      }
      &:hover,
      &:active {
        background-color: $green-600;
        color: $green-000;
      }
    }
  }
  .#{$class}-note {
    @include font-size-xxs;
    color: $gray-600;
    float: left;
    padding: 16px 16px;
    width: 100%;
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    padding: 20px 16px 16px;
  }
}
