// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Statement
// -------------------------------------------------------------

$class: "statement";

.#{$class} {
  float: left;
  width: 100%;
  .#{$class}-box {
    float: left;
    padding: 16px 0 4px;
    width: auto;
    .#{$class}-item {
      float: left;
      padding: 16px 0 0;
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
}
